name: Release

on:
  workflow_dispatch

jobs:
  release:
    name: Create Release
    if: github.event.base_ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - name: Get Version
        id: get_version
        run: |
          echo ::set-output name=tag::${GITHUB_REF/refs\/tags\/}
      - name: Create & Publish Release
        uses: release-drafter/release-drafter@v5.12.1
        with:
          name: ${{ steps.get_version.outputs.tag }}
          tag: ${{ steps.get_version.outputs.tag }}
          version: ${{ steps.get_version.outputs.tag }}
          publish: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}